.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.navbar-toggle-line {
  width: 100%;
  height: 3px;
  background-color: #fbfbfb;
  transition: transform 0.3s;
}

.navbar-toggle-line.active:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle-line.active:nth-child(2) {
  opacity: 0;
}

.navbar-toggle-line.active:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-items {
  list-style: none;
  display: flex;
  gap: 420px;
  transition: opacity 0.3s;
  opacity: 0;
}

.navbar-items.active {
  opacity: 1;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-link:hover {
  color:#FFD1DC;
}

.carrito {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.carrito-icon {
  margin-right: 5px;
}

.carrito-text {
  font-size: 14px;
  font-weight: bold;
}


@media screen and (max-width: 1368px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .navbar-toggle-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: transform 0.3s;
  }
  
  .navbar-toggle-line.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .navbar-toggle-line.active:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle-line.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-items {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: opacity 0.3s;
    opacity: 0;
  }
  
  .navbar-items.active {
    opacity: 1;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: rgb(22, 22, 22);
  }
  
  .carrito {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .carrito-icon {
    margin-right: 5px;
  }
  
  .carrito-text {
    font-size: 14px;
    font-weight: bold;
  }
}



@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .navbar-toggle-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: transform 0.3s;
  }
  
  .navbar-toggle-line.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .navbar-toggle-line.active:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle-line.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-items {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: opacity 0.3s;
    opacity: 0;
  }
  
  .navbar-items.active {
    opacity: 1;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .carrito {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .carrito-icon {
    margin-right: 5px;
  }
  
  .carrito-text {
    font-size: 14px;
    font-weight: bold;
  }
}



@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    
  }

  .navbar-items {
    gap: 20px;
  }
  
  .carrito-text {
    display: none;
  }

  .carrito {
    display: flex;
    align-items: center;
    margin-right:400px;
    
    padding: 5px;
  }

  .carrito-icon {
    margin-right: 5px;
  }
}

/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .navbar-toggle-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: transform 0.3s;
  }

  .navbar-toggle-line.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle-line.active:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle-line.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .navbar.active .navbar-items {
    opacity: 1;
  }

  .navbar-item {
    margin: 0;
  }

  .navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .navbar-link:hover {
    color: rgb(0, 0, 0);
  }

  .carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .carrito-icon {
    margin-right: 5px;
  }

  .carrito-text {
    font-size: 14px;
    font-weight: bold;
  }
}






