.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.presentation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.title {
  display: inline-block;
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 20px;
  color:#ffffff;
  text-shadow: 6px 3px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
  
}

.artist-description {
  display: block;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fffefe;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(30deg);
}

.description-container {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: 20px;
}

.description-container.show {
  opacity: 1;
}



.mi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fcfcfc;
  background-color:#fd6b7a96;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.mi:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #25004a;
  opacity: 0;
  animation: waveAnimation 1s infinite;
  z-index: -1;
}

@keyframes waveAnimation {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  50% {
    width: 200px;
    height: 200px;
    opacity: 0.5;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

.mi:hover {
  background-color: #4d1bee51;
  transform: translateZ(4px);
}

.mi:hover:before {
  animation-duration: 1s;
}


.mi .mi-label {
  margin-right: 8px;
}

.cerrar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
  background-color: rgba(255, 37, 157, 0.09);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cerrar-button:hover {
  background-color: #4d1bee51;
}

.btn-productos {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 4px;
  background-color:#fd6b7abd;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.btn-productos:hover {
  background-color: #4d1bee51;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transform: translateZ(4px);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .artist-description {
    font-size: 18px;
  }

  .mi{
    font-size: 14px;
  }

  .cerrar-button {
    font-size: 14px;
  }

  .btn-productos {
    font-size: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 50px;
  }

  .mi{
    font-size: 18px;
  }

  .artist-description {
    font-size: 24px;
  }
}
