.home-container {
    background-color: #f9f4ea;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .presentation {
    text-align: center;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 24px;
    color: #100e0d;
  }
  