@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.preload {
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dvnhn35l4/image/upload/v1688002658/wallpaperbetter.com_1920x1080_xpvfus.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  top: 0rem;
  left: 0px;

  z-index: 9000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* texto preload  */
.texto {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #e3e3e3;
  text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.preload img {
  height: 30%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  transform: translate(-50%, -50%);
  animation: animate1 1s infinite;
}

/*  
  @keyframes animate1{
    to{
        color: #1951ee;
    }
    from{
        color: #ffffff ;
    }
  } */

/* clase que crea js para que se cierra */

.cerrar {
  opacity: -0;
  transition: all 0.5s;
}

/* Lineas de carga */
.lds-dual-ring {
  display: inline-block;
  text-align: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 300px;
  height: 300px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(15, 14, 15);
  border-color: #1096ef transparent #1040ef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
