* {
  box-sizing: border-box;
  padding: 0;
}

.producto-detalle1-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 
}

.producto-imagen1 {
  width: 800px;
  height: 800px;
  object-fit: cover;
  border-radius: 9rem;
  padding: 5%;
}

.producto-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 5%;
  border-radius: 10px;
  background-color: #f2e8e1;
  
  margin-top: 20px;
}

.producto-nombre1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.producto-detalle1-descripcion {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}

.producto-precio1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#1d1d1d;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .producto-detalle1-container1 {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .producto-imagen1 {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 20px;
  }
  
  .producto-info1 {
    font-size: 1.2rem;
    padding: 20px;
  }
  
  .producto-nombre1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .producto-detalle1-descripcion {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .producto-precio1 {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .producto-info1 {
    font-size: 1rem;
    padding: 10px;
  }
  
  .producto-nombre1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .producto-detalle1-descripcion {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .producto-precio1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
