* {
  box-sizing: border-box;
  padding: 0;
}

.producto-detalle1-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.producto-imagen1 {
  width: 800px;
  height: 800px;
  object-fit: cover;
  border-radius: 9rem;
  padding: 5%;
}

.producto-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 5%;
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px solid rgba(235, 24, 98, 0.572);
  margin-top: 20px;
}

.producto-nombre1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.producto-detalle1-descripcion {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}

.producto-precio1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .producto-imagen1 {
    max-width: 100%;
    padding: 3%;
  }

  .producto-info1 {
    font-size: 1.2rem;
    padding: 3%;
  }

  .producto-nombre1 {
    font-size: 2rem;
  }

  .producto-detalle1-descripcion {
    font-size: 1.2rem;
  }

  .producto-precio1 {
    font-size: 1.8rem;
  }
}
