.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818e3;
  color: rgb(252, 252, 252);
  z-index: 0;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
  position: absolute;
  left:0%;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  font-style: oblique;
  padding: 20px;
}

.contacto-container h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffd6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 10px;
  border-radius: 10px;
}

.contacto-container p {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fdfdfd;
  margin-top: 2rem;
}

.contacto-container a {
  
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #fd6b7a;
 
  padding: 8px 12px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.contacto-container a:hover {
  background-color: #ff8e9b;
  text-decoration: underline;
}
